---
import Base from '../layouts/Base.astro';

const BASE = 'https://images.squarespace-cdn.com/content/v1/50c4bd4be4b0112a45d7e1e2/';

const projects = [
  { id: 'taipei', title: 'Taipei', images: [
    '13ef3cf9-2be1-4e41-837c-a23279db4d54/20241120_0029.jpg',
    '6f83db75-8145-4a60-b490-c32e11320507/20241120_0047.jpg',
    'a27746e8-9e83-4129-a5e5-23f69df79449/20241120_0115-Pano-2.jpg',
    '11aea938-16b2-4e12-a47c-c68cd2d3719d/20241120_0121.jpg',
    'd1a85c86-fa6f-4556-b806-1965db0a9ba9/20241120_0139.jpg',
    'a703839a-36a9-432a-ac62-a43da816e55c/20241120_0158-.jpg',
    '993ffdb5-439e-4d8e-86bb-4acce7183f8b/20241120_0201.jpg',
    '2958ee42-e5ea-49a8-9f4f-808c17633a33/20241120_0239.jpg',
    '512d8349-c889-4d7b-b55c-76899391fbae/20241120_0282.jpg',
    '289f5f0f-56d1-416a-8a0e-fb66e0a56768/20241121_0318.jpg',
  ]},
  { id: 'bali24', title: "Bali '24", images: [
    '8ad6cb44-54ab-4938-99f8-932bc40e8b7b/20241124_2404.jpg',
    '7906a925-cce8-49ef-bd32-0d406c61ad45/20241124_2474.jpg',
    '48a9ad11-7f15-4eba-998e-7b1a73805ab6/20241124_2594.jpg',
    '8fb8e281-61d5-4138-90c5-d4cc1378e053/20241124_2681.jpg',
    '246dc0eb-9bd2-4eac-bd61-896f7221c817/20241126_0071-Pano-2.jpg',
    '7e261d2d-cc08-4c5b-85a5-f942a61e3106/20241126_3080-Pano.jpg',
    '2d694051-2a45-4b61-935e-d7b1eeb1ca0a/20241126_3178-Pano-2.jpg',
    '1f3fbd72-362e-469f-81ec-461910749bf1/20241126_3339.jpg',
    'a8fe7250-e8e9-4905-8ce2-4255365f1907/20241126_3599.jpg',
    '0058e0d4-44c8-4923-b67b-6d5a3485ca73/20241126_3652.jpg',
    'd7eea0f1-1447-43b6-aa54-1e4e576dc18f/20241127_0173.jpg',
    '6575d001-2219-457e-a22a-915c51fd73e3/20241127_0201.jpg',
    '70446496-ea82-4da0-b0b5-0516aa48c090/20241124_2517.jpg',
    '19865cd2-a86c-4a1c-aeaa-b6382a967c70/20241126_3093.jpg',
    'c677260d-948a-492b-8daf-e7cc480396a7/20241122_2120.jpg',
    'fba248c3-2167-41c3-a7f1-464ad3d25554/20241122_2052.jpg',
    'd29d9f76-6442-4968-9619-aa9fbc9079f4/20241126_3183.jpg',
  ]},
  { id: 'kauai', title: 'Kauai', images: [
    '1439255076218-QSB0I84N3KBPP2ORAJD2/20150608_00438-Pano.jpg',
    '1439255030380-1W643ZZBP8PPG7LNL46I/20150605_01017.jpg',
    '1439255017242-7QOC0Z0JNIIVMUTTIM1V/20150604_00343.jpg',
    '1439255064838-J3V7DGCFW0WA2C208UZ4/20150606_00591-Pano.jpg',
    '1439255020505-YWSQYCRK2O0I8B2MSORP/20150605_00210.jpg',
    '1439255024173-96KYHW89D0L4284U389O/20150605_00327.jpg',
    '1439255026156-JX0IJLGTEBBJL633DFY1/20150605_00454.jpg',
    '1439255049876-EOD3EIQK1JMGDZZ920MS/20150605_01907.jpg',
    '1439255033382-RXGZLLUTDSTPV3R7G55N/20150605_01082.jpg',
    '1439255036961-QSTN48F8Z1CWD6C5XFR6/20150605_01255.jpg',
    '1439255037422-3O62YP62H04O70B5AG11/20150605_01334.jpg',
    '1439255040965-8KFHOTSPNO67LOGIG661/20150605_01554.jpg',
    '1439255060630-X92SCJCBN25XOWI33G8N/20150605_02743.jpg',
    '1439255053230-74M90OU3VF7H9T28LZAW/20150605_02037.jpg',
    '1439255054022-RDKFT4ZEEJQU34P6PZLK/20150605_02208.jpg',
    '1439255019623-C1XMG2Z4BRDMOVZE8G9N/20150605_00029.jpg',
    '1439255041051-CYJ0V6V55FI3N5LSIQ4Q/20150605_01568.jpg',
    '1439255046336-MQ7YOZ5N6I3DTUHGVVCR/20150605_01661.jpg',
    '1439255046559-JHZC9GL8YRC0MOBBT1ID/20150605_01811.jpg',
    '1439255051191-YNZD7388VPSNQ1MV7KAT/20150605_02024.jpg',
    '1439255056445-2QQ55AGUMIO0JY8I4O7O/20150605_02409.jpg',
    '1439255058206-8OUF046F5TDA2ZYY662B/20150605_02535.jpg',
    '1439255027631-T6J3CLA826CFBIPAOW8R/20150605_00532.jpg',
    '1439255011922-1IOXMF3HSAUNDKXP3UR8/20150604_00207.jpg',
    '1439255015908-CQGLNBSFW61FZWJ37PWH/20150604_00514.jpg',
    '1439255006380-MPPAI3EW9TVFOHJOYJM8/20150604_00173.jpg',
    '1439255006453-DMVW6TE7JDWBOCURKZ8A/20150604_00024.jpg',
    '1439255012141-HMUDWLIPIJ5X3AD0W0RK/20150604_00181.jpg',
    '1439255031054-48S12KMJ9375U811RVII/20150605_00641.jpg',
    '1439255061963-L4XAY3LKHFCJ6HV74B7E/20150605_03248.jpg',
    '1439255032996-1QG0EC8L4BMD94B0I5T5/20150605_01084.jpg',
    '1439255075158-1YL82L07WIVZ773YDRXJ/20150608_00423.jpg',
    '1439255063305-7FRR7I75GISENZ9ULE2N/20150606_00373-Pano.jpg',
    '1439255066422-D48YEU620ABSVFCHO6ZT/20150607_00031.jpg',
    '1439255068050-3O30PH944EES52J5W95P/20150607_00102.jpg',
    '1439255068864-CW6G7O8EJSWY6RBPY4NI/20150607_00165.jpg',
    '1439255071257-G2ER2WOC4A15B9ILCN4O/20150608_00039.jpg',
    '1439255070952-PS7XK3W32N1I3EK2MGDJ/20150608_00265.jpg',
    '1439255072715-ISNS32KW8IU3F5CW49OC/20150608_00294.jpg',
    '1439255077743-4M7JBTB3LDDVCMIF1XXB/20150608_00739.jpg',
  ]},
  { id: 'oahu', title: 'Oahu', images: [
    '1368169224516-VL7Y75GV4DJTKR58VM34/20130505_0148.jpg',
    '1368169240350-W36HJNIQOJ46ZTD0INDJ/20130505_0164.jpg',
    '1368169219931-IUE4AW8Q54KIFN5AWQX0/20130505_0160.jpg',
    '1368169235319-4JQ2GJOWE0KAMF0HDJ2R/20130505_0234.jpg',
    '1368169259568-XN8H5F81QXDAD5GOQXZ8/20130505_0641.jpg',
    '1368169251843-1J3KN6935NBYS8RDKEM1/20130506_0019.jpg',
    '1368169265195-64U6F9JCNU6FIFFOHJBY/20130506_0158.jpg',
    '1368169316003-LH5TEW8DXKN0O8Z1BTS7/20130507_0098.jpg',
    '1368169276197-IVSFBP2PW0HKDBJJL6EB/20130506_0349.jpg',
    '1368169280330-4GEUXR17Q0K6I78Q3CNI/20130506_0529.jpg',
    '1368991284809-EHFDAKR86ITO9KXISJ6M/20130507_0168.jpg',
    '1368169285220-O12OLEDJ6FR2T7QLTM49/20130506_0607.jpg',
    '1368169295714-L1P7K2Z5LLB7UKTOLN6F/20130506_0623.jpg',
    '1368169377414-F0MIAIQG7DRXQVNVAU5P/20130508_0064.jpg',
    '1368169315797-OTEFDRANSBZBKNZDQ02T/20130506_10019.jpg',
    '1368169344460-3C2WRS1TKIRNO5E66R3O/20130507_0117.jpg',
    '1368169377448-UM2KC827WGG14JORWC1C/20130508_0014.jpg',
    '1368169344054-FHODLM5VVRQ2QZXCF32H/20130507_0114.jpg',
    '1368169390285-GWJOHPSNJ7DSEA2JA0AD/20130508_0115.jpg',
    '1368169395393-OMURA1QTT1K301WC5SOJ/20130508_0258.jpg',
  ]},
  { id: 'bali', title: 'Bali', images: [
    '1367605698473-X98D0VGOFJUTPWST6QRY/Bali-1.jpg',
    '1367605725143-XYQYFHSXTPKXMRCKYCMV/Bali-2.jpg',
    '1367605726482-PYPCM0D66GNWJIEXQ048/Bali-3.jpg',
    '1367605736984-337FUFRHIKI1UU3YUWFY/Bali-4.jpg',
    '1367607373325-F3ZW125TCPW9GF5VQ91P/20101112_0364.jpg',
    '1367607365632-9MD07G2U8Z0AJNQF272K/20101112_1013.jpg',
    '1367605769752-MT6V5MF46E1XK07MS2IO/Bali-7.jpg',
    '1367605761627-UL8N0OTDDQQIFH3FC3Q0/Bali-8.jpg',
    '1367605784689-TEARD7OCURJLX6ZV0K9S/Bali-9.jpg',
    '1367605778607-WEE4P5B8OTYIGBW2BG1Y/Bali-10.jpg',
    '1367605794276-AAJS3S7WYMRL3VENM3BT/Bali-11.jpg',
    '1367605796305-0PJVUGG48QTEX5VYOHKC/Bali-12.jpg',
    '1367605817719-5BOOBR0RP2TXKUBJ05QL/Bali-13.jpg',
    '1367605817800-3MF9DS2VPPA6M1AA0A6J/Bali-14.jpg',
    '1367605838929-1ZRV74JLCT38M4CQO7S3/Bali-15.jpg',
    '1367605836344-2TBD7J2VTE16YPI2L6RZ/Bali-16.jpg',
    '1367605850102-H3I3MCJEXT8SVFSBIOYH/Bali-17.jpg',
    '1367605849583-ES2831KCMFSO6K35QK0E/Bali-18.jpg',
    '1367605860855-4TZY2MONNNJLF1XQCAHX/Bali-19.jpg',
    '1367605860070-VMENHJBXM7NURM2X5PVV/Bali-20.jpg',
  ]},
  { id: 'cuba', title: 'Cuba', images: [
    '1368143693154-FBHYAB5U1X6RCXP6M3X6/20071130_0052.jpg',
    '1368143711607-SOG1AFH2OEI52OWQY1LR/20071130_0072.jpg',
    '1368143757247-YJ80W0QWUE1G806EMITU/20071130_0216.jpg',
    '1368143711069-JM9GFUT20D4HNQWOA3HR/20071130_0085.jpg',
    '1368143753694-9P6JXIF38Z07VWJFB0H2/20071130_0254.jpg',
    '1368143736093-2WLDQXJAQ65U6JBF1QJT/20071130_0179.jpg',
    '1368143739235-H2LJO1W5QDYDTWGE3GKX/20071130_0164.jpg',
    '1368143691163-22J5P5YXQ4FQIBAO7J5L/20071130_0055.jpg',
    '1368143765888-9V9DC81OMX8CKUSKKBWT/20071201_0263.jpg',
  ]},
];

const projectData = projects.map(p => ({
  ...p,
  images: p.images.map(img => BASE + img),
  coverImages: p.images.slice(0, 3).map(img => BASE + img),
  cover: BASE + p.images[0],
}));
---

<Base title="Travel — Geo Rittenmyer">
  <div class="masonry" id="travelGrid">
    {projectData.map((p, i) => (
      <div class="card" style={`animation-delay: ${i * 40}ms`} data-images={JSON.stringify(p.images)} data-cover-images={JSON.stringify(p.coverImages)} data-title={p.title}>
        <img src={p.cover} alt={p.title} loading={i < 4 ? 'eager' : 'lazy'} />
        <div class="card-label"><span>{p.title}</span></div>
      </div>
    ))}
  </div>
</Base>

<script>
  document.querySelectorAll<HTMLElement>('.card').forEach(card => {
    const coverImages: string[] = JSON.parse(card.dataset.coverImages || '[]');
    if (coverImages.length > 1) {
      const img = card.querySelector('img') as HTMLImageElement;
      img.src = coverImages[Math.floor(Math.random() * coverImages.length)];
    }
  });
</script>
